* {
  font-family: "Creepster", cursive;
  color: #fff;
  margin: 0;
  padding: 0;
}
body {
  background: url("https://i.imgur.com/0vubLda.png") #000;
  background-size: 50%;
}
body::after {
  content: "";
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  background: rgba(0, 0, 0, 0.5);
}
.App {
  position: relative;
  z-index: 2;
}
.App h1 {
  text-align: center;
  font-weight: normal;
  font-size: 32pt;
  text-shadow: 0 0 5px #ccc;
  padding: 15px 0;
}
